<div class="card">
  <div class="card__img">
    <div class="skeleton-image"></div>
  </div>
  <div class="card__content">
    <div class="card__info">
      <div class="skeleton-title"></div>
      <div class="skeleton-text rel-date"></div>
      <div class="skeleton-text genres"></div>
      <div class="platform-icons">
        <div class="skeleton-icon"></div>
        <div class="skeleton-icon"></div>
      </div>
    </div>

    <div class="card__price">
      <div class="price-container">
        <div class="skeleton-text price-label"></div>
        <div class="skeleton-price"></div>
      </div>
      <div class="skeleton-button card__price__button"></div>
    </div>
  </div>
</div>
