<div class="news-card__title">
    <h3 class="deals__title" routerLink="/news">{{ title }}</h3>
</div>

<!--<div class="" style="display: flex; column-gap: 16px; row-gap:18px; flex-wrap: wrap;">-->
<!--    @for (newsCard of newsCards; track newsCard) {-->
<!--        <div class="news-card" routerLink="{{newsCard.urlName}}">-->
<!--            <img src="{{newsCard.imageUrl}}" alt="newsCard" style="width: 210px; height: 120px">-->
<!--            <div class="">{{newsCard.headline}}</div>-->
<!--        </div>-->
<!--    }-->
<!--</div>-->


<div class="news-cards">
    @for (newsCard of newsCards; track newsCard) {
        <div class="related-news-container" routerLink="news/{{newsCard.urlName}}">
            <div class="related-news-img">
                <img ngSrc="{{newsCard.imageUrl}}" alt="news" width="300" height="111"/>
            </div>
            <div class="related-news-text-cont">
                <div class="related-news-text1">
                    <p>Added : {{newsCard.publishDate}}</p>
                    <button
                            [ngStyle]="{ 'background-color': getBorderColorWithOpacity(newsCard.typeColor,0.7),
                        'border': '2px solid ' + newsCard.typeColor}">{{ newsCard.type }}
                    </button>
<!--                    <div class="card-icons">-->
<!--                        <img src="/img/fa_windows.svg" class="windows-img" alt="windows"/>-->
<!--                        <img-->
<!--                                src="/img/fa-brands_playstation.svg"-->
<!--                                class="playstation-img"-->
<!--                                alt="playstation"-->
<!--                        />-->
<!--                    </div>-->
                </div>
                <h3 class="text-elipsis">{{newsCard.headline}}</h3>
                <p class="text-elipsis">
                    {{newsCard.primaryKeyword}}
                </p>
            </div>
        </div>
    }
</div>
    