<div class="card-container">
  <div class="card-image">
    <div class="skeleton-image"></div>
  </div>
  <div class="two-div">
    <div class="card-text-container">
      <div class="card-text1">
        <p class="skeleton-text date-skeleton"></p>
        <div class="skeleton-button"></div>
        <div class="card-icons">
          <div class="skeleton-icon"></div>
          <div class="skeleton-icon"></div>
        </div>
      </div>
      <h2 class="multi-line-fixed-height skeleton-title"></h2>
      <p class="skeleton-description"></p>
    </div>
    <div class="read-more-button">
      <h4 class="skeleton-read-more"></h4>
      <div class="skeleton-arrow"></div>
    </div>
  </div>
</div>
